/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Prevent body scroll */
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Enable vertical scroll for modal */
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Increased max-width */
  width: 100%;
  max-height: 90%; /* Constrain the height */
  overflow-y: auto; /* Enable vertical scroll for content */
  margin: 20px; /* Add margin for better spacing */
}

.close-button {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
  width: calc(100% - 20px); /* Adjusted width for consistency */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height */
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  form {
      padding: 15px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  textarea {
      width: calc(100% - 10px);
      padding: 8px;
  }

  button {
      padding: 8px 15px;
  }
}
